  <div class="nav-wrapper">
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/"><img id="gearshare-logo" src="/public/images/gearshare-logo.png" alt="gearshare"></a>
        </li>
        <li class="nav-item">
          <a href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a href="/about">About</a>
        </li>
        <li class="nav-item">
          <a href="mailto:dhinton.us@gmail.com">Contact</a>
        </li>
        <li class="nav-item">
          <% if (user) { %>
          <a href="/logout">Log Out</a>
          <span>Hi, <%= user.name %> </span>
          <% } else { %>
          <a href="/auth/google"> Login with Google</a>

          <% } %>
        </li>
        <li class = "nav-item">
          <a href="/cart"><i class="fas fa-shopping-cart fa-2x"></i>
        </a>
        </li>


      </ul>

    </nav>
  </div>