  <div class="nav-wrapper">
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/"><img id="gearshare-logo" src="/public/images/gearshare-logo.png" alt="gearshare"></a>
        </li>
        <li class="nav-item">
          <a href="/products">Products</a>
        </li>
        
        <li class="nav-item">
          <a href="/products/new">Add a Listing</a>
        </li>
        <li class="nav-item">
          <a href="mailto:dhinton.us@gmail.com">Support</a>
        </li>
        <li class="nav-item">
          <% if (user) { %>
          <a href="/logout">Log Out</a>
          <% } else { %>
          <a href="/auth/google"> Login with Google</a>

          <% } %>
        </li>
        <li class = "nav-item">
          <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2"><i class="fas fa-shopping-cart fa-2x"></i>
        </a>
        </li>


      </ul>

    </nav>
  </div>