@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --clr-primary: #ff4942;
  --clr-primaryHover: #686d83;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /* border radius */
  --radius: .2rem;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

h2, h3, h4, h5, h6{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h3, h4, h5, h6{
  color: grey;
  text-decoration: none;
}

header{
  margin-top: 100px;
}
/* Nav Bar */
.nav-list{
  background-color: var(--clr-primary);
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin: 0;
  padding: .125rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  
}

.nav-item{
  list-style: none;
  margin-right: 2rem;
}

.nav-item a{
  font-family: 'Montserrat', sans-serif;
  font-size:1.2rem;
  text-decoration: none;
  color: white;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2rem;

}

#gearshare-logo{
  height: 125px;
}

/* Body of Page */
#hero-banner{
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  height: 700px;
}

#hero-banner-items{
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 250px;
}

.submit-hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

}

a{
  margin-top: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--clr-primary);
}

.btn{
  display: inline-block;
  padding: 10px;
  border: 5px solid #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  transition: background-color .2s ease-out, color .2s ease-out;
}

.btn:hover,.btn:active{
  background-color:#fff;
  color: #000;
  transition: background-color .3s ease-out, color .3s ease-in;
}

/* @media(max-width: 920px){
  #hero-banner-items{
    margin-top: 250px;
  }
}

@media(max-width: 540px){
  #hero-banner-items{
    margin-top: 250px;
  }
} */

#search-bar{
  height: 2rem;
  width: 400px;
  display: block;
  margin: 20px auto;
}

#categories{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}


.category-item{
  flex-grow: 1;
  min-width: 33.33%;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 300px;
  background-position: center;
  background-size: 260px 170px;
  background-repeat: no-repeat;
  padding: 40px;
  margin-top: auto;
}

.browse-category{
  font-size: 2rem;
}

.view-category{
  border: 2px solid var(--clr-primary);
  padding: 10px;
}

.category-item-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220%;
}

.featured-products-title{
  margin-top: 5%;
  font-size: 2rem;
}

#featured-products{
  margin-top: 5%;
  border-top: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}


.featured-product-item{
  border-bottom: 1px solid black;
  background-color: grey;
  height: 300px;
}



@media(max-width: 1200px){
  .index-header{
    margin: 0;
  }
}

@media(max-width: 1000px){
  .category-item{
    min-width: 50%;
  }
}

@media(max-width: 800px){
  .category-item{
    min-width: 100%;
  }
}