<%- include('../partials/header') %>
<main>
        <section id="hero-banner">
            <div id="hero-banner-items">
                <a class = "btn" href="/products">View All Products</a>
                <input id = "search-bar" type="text" placeholder="Search Products" >
                <div class = "inner-search-bar">
                    <button name = "submit" type = "submit" class = "submit-hero"><i class = "fas fa-search"></i></button>
                </div>
            </div>
        </section>
        
        <header>
            <h2 class = "browse-category">Browse Categories</h2>
            <h5><a class = "view-category" href="/products">View All Categories</a></h5>
        </header>

        <section id = "categories">
            <div class = category-item style = "background-image: url('/public/images/hybrid.png'); background-size: 260px 200px;">
                <div class = "category-item-inner">Cameras</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/cinema.png')">
                <div class = "category-item-inner">Cinema</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/lenses.png')">
                <div class = "category-item-inner">Lenses</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/drones.png')">
                <div class = "category-item-inner">Drones</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/audio.png')">
                <div class = "category-item-inner">Audio</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/lighting.png')">
                <div class = "category-item-inner">Lights</div>
            </div>
            <div class = category-item style = "background-image: url('/public/images/gimbals.png')">
                <div class = "category-item-inner">Gimbals</div>
            </div>

        </section>


        <h2 class = "featured-products-title">Featured Products</h2>

        <section class = "featured-products">
            <div class = "featured-product-item">
                <div style = "background-image: url('/public/images/hybrid.png')" class = "featured-product-item-image"></div>
                <p class="title">Canon 5D Mark IV</p>
                <p class = "desc">Newest version of canon camera</p>
                <p class = "price">$9.99</p>
                <button>View item</button>
            </div>
            <div class = "featured-product-item">
                <div style = "background-image: url('/public/images/hybrid.png')" class = "featured-product-item-image"></div>
                <p class="title">Canon 5D Mark IV</p>
                <p class = "desc">Newest version of canon camera</p>
                <p class = "price">$9.99</p>
                <button>View item</button>
            </div>
            <div class = "featured-product-item">
                <div style = "background-image: url('/public/images/hybrid.png')" class = "featured-product-item-image"></div>
                <p class="title">Canon 5D Mark IV</p>
                <p class = "desc">Newest version of canon camera</p>
                <p class = "price">$9.99</p>
                <button>View item</button>
            </div>

        </section>
</main>



<%- include('../partials/footer') %>