<%- include('../partials/header') %>
<section class = "cats">
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
    <div class = "cat-item">test</div>
</section>

<%- include('../partials/footer') %> 