<%- include('../partials/header') %>
<main>
        <section id="hero-banner">
            <div id="hero-banner-items">
                <a class = "btn" href="/products">View All Products</a>
                <input id = "search-bar" type="text" placeholder="Search Products" >
                <input class = "submit"  type="submit">
            </div>
        </section>

        <section id = "featured-products">



        </section>
</main>



<%- include('../partials/footer') %>