
<section class="checkout">
<h1>Checkout</h1>
<div class = "small-container checkout-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text"></td>
            <td><input type="number" value="1"></td>
            <td>$50.00</td>
        </tr>
    </table>
</div>
</section>